.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }

.modal {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 2px; 
}
.content {
    padding: 1rem;
    font-weight: 400;
    text-align:center;
    font-size: 25px;
}
  .button {
    font: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    border: 1px solid blue;
    background: blue;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 2px;
    padding-inline: 50px;
  }
  
  .button:hover,
  .button:active {
    background: blue;
    border-color: blue;
  }
  
  .button:focus {
    outline: none;
  }
  
  .actions {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }