.general h1 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.general {
  background-color: white;
  width: auto;
}

.h2 {
  background-color: white;
  padding: 0;
  margin: 0;
  text-align: center;
}
.global {
  background-color: white;
}
.payments__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}
