.header {
    width: 100%;
    height: 5rem;
    background-color: blue;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}


.logo {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: white;
    margin: 0;
    padding: 0 2%;
    cursor: pointer;
}
  
.header ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: baseline;
}
  
  .header li {
    margin: 0 1rem;
    color: white;
  }
  
  .header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .header button {
    font: inherit;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 2px;
    cursor: pointer; 
    margin-right: 0.5rem;
  }
  
  .header a:hover {
    color: white;
    font-weight: 700;
    cursor: pointer;
  }
  
  .header button:hover {
    background-color: darkblue;
    color: white;
  }